
@{
    ViewBag.Title = "Home";
}

﻿<h2>Uniclass 2015 Tables</h2>

<ul>
    <li>@Html.ActionLink("Complexes", "Index", "Uniclass", new { notation = "Co" }, null)</li>
    <li>@Html.ActionLink("Entities", "Index", "Uniclass", new { notation = "En" }, null)</li>
    <li>@Html.ActionLink("Activities", "Index", "Uniclass", new { notation = "Ac" }, null)</li>
    <li>@Html.ActionLink("Spaces/ locations", "Index", "Uniclass", new { notation = "SL" }, null)</li>
    <li>@Html.ActionLink("Elements", "Index", "Uniclass", new { notation = "Ee" }, null)</li>
    <li>@Html.ActionLink("Systems", "Index", "Uniclass", new { notation = "Ss" }, null)</li>
    <li>@Html.ActionLink("Products", "Index", "Uniclass", new { notation = "Pr" }, null)</li>
    <li>@Html.ActionLink("CAD", "Index", "Uniclass", new { notation = "Zz" }, null)</li>
</ul>

