@model UniclassAPIClient.ViewModels.ClassificationPage

@{
    ViewBag.Title = Model.Classification.Title;
   
}

<script>
    var lodLevel = @(ViewBag.LodLevel);
    var loiLevel = @(ViewBag.LoiLevel);
</script>

<a href="@ViewBag.Backlink" style="margin-top:10px;display:block">< back</a>

<h2>@Model.Classification.Title</h2>

<ul>
    @foreach (var cn in Model.Classification.Children)
    {
        <li>@Html.ActionLink(cn.Notation + " - " + cn.Title, "Index", "Uniclass", new {notation = cn.Notation}, null)</li>
    }
</ul>

